/ start header
.top_bg
  .wrap
    .header
      .logo
        %a{:href => root_path}
          %img{:alt => "", :src => asset_path("logo.png")}/
      .log_reg
        %ul
          - if logged_in?
            %li
              %a{:href => logout_path, "data-method" => "delete"} Logout
          - else
            %li
              %a{:href => login_path} Login
            %span.log or
            %li
              %a{:href => register_path} Register
          .clear
      .clear
/ start header_btm
.wrap
  .header_btm
    .menu
      %ul
        %li.active
          %a{:href => root_path } Home
        %li
          %a{:href => products_path} products
        %li
          %a{:href => about_path} about
        %li
          %a{:href => cart_path} carts
        %li
          %a{:href => contact_path} contact
        .clear
    #smart_nav
      %a.navicon{:href => "#menu-left"}
    %nav#menu-left
      %ul
        %li
          %a{:href => root_path} Home
        %li
          %a{:href => products_path} products
        %li
          %a{:href => about_path} about
        %li
          %a{:href => cart_path} carts
        %li
          %a{:href => contact_path} contact
        .clear
    .header_right
      %ul
        %li
          %a{:href => account_path}
            %i.fa.fa-user.fa-2x
            %span.color1 Me
        %li
          %a{:href => cart_path}
            %i.fa.fa-cart-plus.fa-2x
            %span.cart-count=  logged_in? ? current_user.cart_count : 0
    .clear
